<!DOCTYPE>
<html>
<head>
<title>homepage</title>
<style>
    body{
            background-image:url("static/face.png");
            background-attachment: fixed;
        }
    div.header {
	  text-align: center;
	}
</style>
</head>

<div class="header">
    <body>
        <h1>Face Emotion Recognition</h1>

        <form action = "http://localhost:5000/face" method = "post">
            <p><input type = "submit" value = "video" name="video1"/></p>
            <p><input type = "submit" value = "live_cam" name="live_cam1"/></p>
            <p><input type = "submit" value = "image" name="image1"/></p>
        </form>


    </body>
</div>

</html>