<!DOCTYPE html>
<html>

<title>Face Emotion Recognition</title>

<style>
    body{
      background-image:url("static/face.png");
      background-attachment: fixed;

    }
    div.header {
      text-align: center;
    }
</style>

<div class="header">
	<h1>Select multiple videos to upload and display after Recognize</h1>
	<p>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			<ul>
			{% for message in messages %}
			  <li>{{ message }}</li>
			{% endfor %}
			</ul>
		  {% endif %}
		{% endwith %}
	</p>


	<form method="post" action="/upload_files_videos" enctype="multipart/form-data">
		<input type="file" name="file[]" multiple="true" autocomplete="off" required>
		<input type="submit" value="Upload">
	</form>
</div>

</html>